/* https://coolors.co/272d2d-a39ba8-b8c5d6-edf5fc-23ce6b */
/* https://coolors.co/595959-031a6b-a5a5a5-cccccc-04052e */
/* #0075ff */

:root {
    /* Variables */
    --headerBlue: #0075ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.root {
    background-image: linear-gradient(to bottom, #0e0e0e 75%, #595959);
    width: 100%;
}

@media only screen and (min-width: 320px) {
    header {
        height: 3rem;
        padding: .8rem;
        font-size: 1.3rem;
    }

    .projectLink {
        padding-top: 1.1rem;
        font-size: .7rem;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .imgContainer {
        height: 8rem;
        margin-right: 12rem;
    }

    .imgContiainer > img {
        height: 8rem;
    }

    .infoContainer > hr {
        width: 5rem;
    }

    .projectListHeader > hr {
        width: 5rem;
    }

    .projectListHeader {
        top: 4rem;
    }

    .infoContainer > h2 {
        font-size: 1rem;
    }

    .projectListHeader > h2 {
        font-size: 1rem;
    }

    .infoContainer > p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    header {
        height: 5rem;
        padding: 1.3rem;
        font-size: 2rem;
    }

    .projectLink {
        padding-top: 1.4rem;
        font-size: 1rem;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .imgContainer > img {
        height: 15rem;
    }

    .imgContainer {
        height: 15rem;
        margin: 0px;
    }

    .infoContainer > hr {
        width: 20rem;
    }

    .projectListHeader > hr {
        width: 20rem;
    }

    .projectListHeader {
        top: 0rem;
    }

    .infoContainer > h2 {
        font-size: 2rem;
    }

    .projectListHeader > h2 {
        font-size: 2rem;
    }

    .infoContainer > p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        height: 7rem;
        padding: 1.8rem;
        font-size: 3rem;
    }

    .projectLink {
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10vw;
    }

    .imgContainer {
        height: 25rem;
    }

    .infoContainer > hr {
        width: 40rem;
    }

    .projectListHeader > hr {
        width: 40rem;
    }

    .projectListHeader {
        top: 0rem;
    }

    .reveal{
        transform: translateX(-150px);
        opacity: 0;
        transition: 1.5s all ease;
    }
      
    .reveal.active{
        transform: translateY(0);
        opacity: 1;
    }

    .infoContainer > h2 {
        font-size: 3rem;
    }

    .projectListHeader > h2 {
        font-size: 3rem;
    }

    .infoContainer > p {
        font-size: 2rem;
    }
}

.imgContainer > img {
    object-fit: contain;
    height: 25rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px var(--headerBlue);
}

header {
    width: 100%;
    position: relative;
    top: 0;
    background-color: #0075ff;
    font-family: 'Lato', sans-serif;
    color: white;
}

.imgContainer {
    width: 30vw;
}

.intro {
    color: white;
    padding: 5rem;
    margin-bottom: 10rem;
}

.infoContainer {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'PT Serif', serif;
}

.infoContainer > hr {
    background-color: #0075ff;
    border-color: #0075ff;
    height: 2px;
    margin: 2vh 0 2vh;
}

.projectListHeader {
    color: #fff;
    display: grid;
    place-items: center;
    position: relative;
}

.projectListHeader > hr {
    background-color: #0075ff;
    border-color: #0075ff;
    height: 2px;
    margin: 2vh 0 2vh;
}

.projectListContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 5vw;
}

.projectContainer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 8rem;
    background-image: linear-gradient(to bottom right, #595959, var(--headerBlue) /*#031a6b*/);
}

/* On hover change the appearance of the div holding the project link */
.projectContainer:hover{
    transform: scale(1.3);
    transition: .3s;

}

.projectLink {
    background-color: black;
    width: 95%;
    height: 7rem;
    text-align: center;
    transition: .5s;}

.projectLink > a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
}

footer {
    width: 100%;
    height: 20vh;
    padding: 4vw;
    background-color: var(--headerBlue) /*#04052E*/;
    color: white;
    font-size: 1.5vw;
    text-align: center;
}